<%# form for new organisation profile %>
<%= simple_form_for(@organisations_profile, data: {controller:"places", action: "google-maps-callback@window->places#initMap"}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :organisation_name %>
    <%= f.input :contact_name %>
    <%= f.input :phone_number %>
    <%= f.search_field :address_1, data: { target: "places.field"} %>
    <%= f.input :bio %>
    <%= f.file_field :pictures, multiple: true%>
  </div>
  <div class="p-4">
    <div data-target="places.map" style="height:400px; width:400px"></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
