<%# form for new organisation profile %>
<%= simple_form_for(@organisations_profile, data: {controller:"places", action: "google-maps-callback@window->places#initMap"}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :organisation_name %>
    <%= f.input :contact_name %>
    <%= f.input :phone_number %>
    <%= f.label :address %>
    <%= f.search_field :address_1, data: { target: "places.field"}, class: "location-search form-control form-m-b" %>
    <div>
      <div data-target="places.map" style="height:200px; width:300px" class="form-m-b"></div>
    </div>
    <%= f.input :bio %>
    <%= f.file_field :pictures, multiple: true, class: "form-m-b"%>
  </div>
  

  <div class="form-actions">
    <%= f.button :submit, class: "submit-btns" %>
  </div>
<% end %>
