<p id="notice"><%= notice %></p>

<h1>Organisations Profiles</h1>
<% if !current_user %>
  <% if current_organisation && (current_organisation.organisations_profile == nil )%>
    <%= link_to "Add Your organisation's profile", new_organisations_profile_path  %>
  <% end %>
<% end %>




<div class="card-rows">
  <% @organisations_profiles.map do |organisations_profile| %>
    <div class="card">
      <%= image_tag organisations_profile.pictures.first if organisations_profile.pictures.attached?%>   
      
      <div class="card-body">
        <h5 class="card-title"><%= organisations_profile.organisation_name %></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= organisations_profile.bio%></li>
      </ul>
      <div class="card-body profile-links">
        <%= link_to 'Read More', organisations_profile %>
        <div class="profile-edit-link">
          <% if !current_user %>
            <% if organisations_profile.organisation_id == current_organisation.id %>
              <%= link_to 'Edit', edit_organisations_profile_path(organisations_profile) %>
            <% end %>
          <% end %>
          </div>
        <%#= link_to 'Destroy', organisations_profile, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
  <% end %>
</div>



