<p id="notice"><%= notice %></p>

<h1>Organisations Profiles</h1>
<%= link_to 'Add New Organisation', new_organisations_profile_path %>
<div class="card-rows">
  <% @organisations_profiles.map do |organisations_profile| %>
    <div class="card" style="width: 18rem;">
        <p><%= image_tag(exercise_gallery.picture, class:"card-img-top") if exercise_gallery.picture.attached? %></p>
      
      <div class="card-body">
        <h5 class="card-title"><%= exercise_gallery.name %></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Muscle groups: <%= exercise_gallery.muscle_groups%></li>
      </ul>

      <div class="card-body">
        <%= link_to 'Show', exercise_gallery %>
        <%= link_to 'Edit', edit_exercise_gallery_path(exercise_gallery) %>
        <%= link_to 'Destroy', exercise_gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>


<table>
  <thead>
    <tr>
      <th>Organisation name</th>
      <th>Contact name</th>
      <th>Phone number</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Bio</th>
      <th>Rating</th>
      <th>Organisation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations_profiles.each do |organisations_profile| %>
      <tr>
        <td><%= organisations_profile.organisation_name %></td>
        <td><%= organisations_profile.contact_name %></td>
        <td><%= organisations_profile.phone_number %></td>
        <td><%= organisations_profile.address_1 %></td>
        <td><%= organisations_profile.address_2 %></td>
        <td><%= organisations_profile.suburb %></td>
        <td><%= organisations_profile.state %></td>
        <td><%= organisations_profile.postcode %></td>
        <td><%= organisations_profile.bio %></td>
        <td><%= organisations_profile.rating %></td>
        <td><%= organisations_profile.organisation_id %></td>
        <td><%= link_to 'Show', organisations_profile %></td>
        <td><%= link_to 'Edit', edit_organisations_profile_path(organisations_profile) %></td>
        <td><%= link_to 'Destroy', organisations_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


