<p id="notice"><%= notice %></p>
<div class="heading">
  <h1 class="centered-heading">Organisations Profiles</h1>
</div>
<% if !current_user %>
  <% if current_organisation && (current_organisation.organisations_profile == nil )%>
    <%= link_to "Add Your organisation's profile", new_organisations_profile_path  %>
  <% end %>
<% end %>




<div class="card-rows">
  <% @organisations_profiles.map do |organisations_profile| %>
    <div class="card">
      <%= image_tag organisations_profile.pictures.first if organisations_profile.pictures.attached?%>   
      
      <div class="card-body">
        <h5 class="card-title"><%= organisations_profile.organisation_name %></h5>
      </div>

      <div class="list-group list-group-flush card-bio">
        <p class="list-group-item"> <%= organisations_profile.bio%></p>
      </div>

      
      <% if !current_user %>
        <% if organisations_profile.organisation_id == current_organisation.id %>
          <div class="card-body" id="p-edit-link">
            <div class="profile-edit-link">
              <%= link_to 'Edit', edit_organisations_profile_path(organisations_profile) %>
            </div>
          </div>
        <% end %>
      <% end %>
        
      <div class="card-body profile-links">
        <%= link_to 'Read More', organisations_profile %>
        <%#= link_to 'Destroy', organisations_profile, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      
    </div>
  <% end %>
</div>



