<p id="notice"><%= notice %></p>

<h1>Organisations Profiles</h1>
<% if (current_organisation )%>
  <%= link_to "Add Your organisation's profile", new_organisations_profile_path  %>
<% end %>




<div class="card-rows">
  <% @organisations_profiles.map do |organisations_profile| %>
    <div class="card">
      <%= image_tag organisations_profile.pictures.find(2) if organisations_profile.pictures.attached?%>   
      
      <div class="card-body">
        <h5 class="card-title"><%= organisations_profile.organisation_name %></h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= organisations_profile.bio%></li>
      </ul>

      <div class="card-body">
        <%= link_to 'Read More', organisations_profile %>
        <% if current_organisation %>
        <%= link_to 'Edit', edit_organisations_profile_path(organisations_profile) %>
        <% end %>
        <%#= link_to 'Destroy', organisations_profile, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>



