<p id="notice"><%= notice %></p>

<% @organisations_profile.pictures.each do |picture| %>
<div class="col-md-6">
<%= image_tag picture, class: "d-block w-100"%>
</div>
<% end %>
<h1><%= @organisations_profile.organisation_name %></h1>
<p>insert rating here</p>

<p>
  <strong>Contact name:</strong>
  <%= @organisations_profile.contact_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @organisations_profile.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organisations_profile.address_1 %>,
  <%= @organisations_profile.suburb %>
  <%= @organisations_profile.state %>,
  <%= @organisations_profile.postcode %>
</p>

<% if @organisations_profile.address_2.length > 0 %>
  <p>
    <strong>Address 2:</strong>
    <%= @organisations_profile.address_2 %>
  </p>
<% end%>

<p>
  <strong>Bio:</strong>
  <%= @organisations_profile.bio %>
</p>

<h3>Login Details:</h3>

<p>
  <strong>Email:</strong>
  <%= @organisations_profile.organisation.email %>
</p>
<p>
  <strong>Password</strong>
  <p>insert change password link here</p>
</p>



<%= link_to 'Edit', edit_organisations_profile_path(@organisations_profile) %> |
<%= link_to 'Back', organisations_profiles_path %>
