<%# heading : %>
<div class="heading">
  <h1 class="centered-heading"><%= @organisations_profile.organisation_name %></h1>
</div>


<%# picture :%>
<% @organisations_profile.pictures.each do |picture| %>
  <div class="profile-img">
    <%= image_tag picture%>
  </div>
<% end %>


<%# details : %>
<div class="org-profile">
  <div class="org-p-top-section">

    <div class="org-p-left">
      <div class="profile-btns">
        <% if !current_user %>
          <% if @organisations_profile.organisation_id == current_organisation.id %>
            <button type="button" class="btn-profile"><%= link_to 'Edit profile', edit_organisations_profile_path(@organisations_profile) %></button>
          <% end %>
        <% end %>
        <button type="button" class="btn-profile"><%= link_to 'Back', organisations_profiles_path %></button>

        <% if !current_user %>
          <% if current_organisation.organisations_profile.id == @organisations_profile.organisation_id %>
            <button type="button" class="btn-profile"><%= link_to "View Enquiries", enquiries_path %></button>
          <% end %>
        <% elsif current_user %>
          <button type="button" class="btn-profile"><%= link_to "Donate", new_donation_path(organisations_profile_id: @organisations_profile.id) %></button>
        <% end %>
      </div>
      <div class="bio">
        <h4>About us...</h4>
        <%= @organisations_profile.bio %>
    </div>
  </div>
    
    <div class="contact-details">
      <div class="contact-heading">
        <h3>Contact details:</h3>
      </div>
      <div class="contact-section">
        <p>
          <strong>Contact name:</strong>
          <%= @organisations_profile.contact_name %>
        </p>

        <p>
          <strong>Phone number:</strong>
          <%= @organisations_profile.phone_number %>
        </p>

        <p>
            <strong>Email:</strong>
            <%= @organisations_profile.organisation.email %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @organisations_profile.address_1 %>
        </p>
      </div>

      
    </div>
  </div>

  
</div>
