
<%= simple_form_for(@users_profile, data: {controller:"places", action: "google-maps-callback@window->places#initMap"}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :dob, as: :date, start_year: Date.today.year - 100, 
    end_year: Date.today.year - 16, order: [:day, :month, :year]  %>
    <%= f.input :phone_number %>
    <%= f.search_field :address_1, data: { target: "places.field"}, class: "location-search form-control" %>
  </div>
  <div class="p-4 google-maps">
    <div data-target="places.map" style="height:400px; width:400px"></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
