<p id="notice"><%= notice %></p>

<h1><%= @users_profile.first_name %> <%= @users_profile.last_name %></h1>

<p>
  <strong>Date of birth:</strong>
  <%= @users_profile.dob %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @users_profile.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @users_profile.address_1 %>
</p>





<%= link_to 'Edit', edit_users_profile_path(@users_profile) %> |
<%= link_to 'Back', users_profiles_path %>
