
<%= simple_form_for(@listing, data: {controller:"places", action: "google-maps-callback@window->places#initMap"}) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="listing-inputs">
    <%= f.input :name %>
    <%= f.input :age %>
    </div>
    <div class="listing-inputs">
    <%= f.label :location %>
    <%= f.search_field :location, data: { target: "places.field" }, class: "location-search form-control form-m-b"  %>
      <div class="form-m-b">
        <div data-target="places.map" style="height:200px; width:300px"></div>
      </div>
    <%= f.input :price %>
    </div>
    <div class="listing-inputs">
    <%= f.input :breed %>
    <%= f.input :sex, as: :select, collection: [["female", "female"], ["male", "male"]], label_method: :second, value_method: :first %>
    <%= f.input :animal_type, as: :select, collection: [["dog", "dog"],["cat", "cat"],["rabbit", "rabbit"],["bird", "bird"]], label_method: :second, value_method: :first %>
    </div>
    <div class="listing-inputs">
    <%= f.input :microchip_number %>
    <%= f.input :desexed_status, as: :select, collection: [["desexed", "desexed"], ["not desexed", "not desexed"]], label_method: :second, value_method: :first  %>
    </div>
    <div class="listing-inputs">
    
    <%= f.input :vaccination_status, as: :select, collection: [["vaccinated", "vaccinated"], ["unvaccinated", "unvaccinated"]], label_method: :second, value_method: :first   %>
    </div>
    
    <%= f.input :health_status %>
    <%= f.input :vaccination_details %>
    <%= f.input :description %>

    <div class="listing-inputs">
    <%= f.input :phone_number %>
    <%= f.input :email %>
    </div>

    <h5>If animal is not yet fully grown:</h5>
    <%= f.input :expected_size, label: "Expected adult size", as: :select, collection: [["very small", "very small"], ["small", "small"],["medium", "medium"],["large", "large"],["Very large", "Very large"]], label_method: :second, value_method: :first   %>
    
    
    <%= f.file_field :pictures, multiple: true, :accept => 'image/jpeg, image/png'%>
  
  
  
  </div>

  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
