<p id="notice"><%= notice %></p>
<div class="heading">
  <h1 class="centered-heading">Listings</h1>
</div>
<div class="centered-button">
  <% if (current_organisation )%>
    <button type="button" class="large-btn"><%= link_to "Create new listing", new_listing_path  %></button>
  <% end %>
</div>

<div class="card-rows">
  <% @listings.map do |listing| %>
    <div class="card" id="listing-card">
      <%= image_tag listing.pictures.first if listing.pictures.attached?    %>
      
      <div class="card-body listing-row card-top-btn">
        <h4 class="card-title"><%= listing.name %></h4>
        <h4 class="card-title"><%= listing.age %></h4>
        <h4 class="card-title">$<%= listing.price %></h4>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= listing.breed %></li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= listing.location %></li>
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= listing.organisations_profile.organisation_name %></li>
      </ul>

      <div class="card-body card-btn">
        <%= link_to 'Read More', listing %>
        <% if !current_user %>
          <% if current_organisation.id == listing.organisations_profile.organisation.id %>
            <%= link_to 'Edit', edit_listing_path(listing) %>
          <% end %>
        <% end %>
        <%#= link_to 'Destroy', organisations_profile, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>





