<p id="notice"><%= notice %></p>








<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @listing.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @listing.breed %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @listing.sex %>
</p>

<p>
  <strong>Animal type:</strong>
  <%= @listing.animal_type %>
</p>

<p>
  <strong>Microchip number:</strong>
  <%= @listing.microchip_number %>
</p>

<p>
  <strong>Desexed status:</strong>
  <%= @listing.desexed_status %>
</p>

<p>
  <strong>Expected size:</strong>
  <%= @listing.expected_size %>
</p>

<p>
  <strong>Vaccination status:</strong>
  <%= @listing.vaccination_status %>
</p>

<p>
  <strong>Health status:</strong>
  <%= @listing.health_status %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @listing.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Vaccination details:</strong>
  <%= @listing.vaccination_details %>
</p>

<p>
  <strong>Organisations profile:</strong>
  <%= @listing.organisations_profile_id %>
</p>

<p>
  <strong>Users profile:</strong>
  <%= @listing.users_profile_id %>
</p>

<% if current_organisation.id == @listing.organisations_profile.organisation.id %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
