<p id="notice"><%= notice %></p>

<%#= @listing.pictures if @listing.pictures.attached? %>
<div class="listing-top-wrapper">
  <%= render "/shared/image_gallery"%>


  <div class="top-column">
    
    <h1><%= @listing.name %></h1> 
    <h2 class="age"><%= @listing.age %></h2>
    
    <h3 class="breed">
      <%# <strong>Breed:</strong> %>
      <span class="listing-underline"><%= @listing.animal_type %></span> - <%= @listing.breed %>
    </h3>

    <p>
      <strong>Location:</strong>
      <%= @listing.location %>
    </p>

    <p>
      <strong>Price:</strong>
      $<%= @listing.price %>
    </p>



    <p>
      <strong>Sex:</strong>
      <%= @listing.sex %>
    </p>



    <p>
      <strong>Microchip number:</strong>
      <%= @listing.microchip_number %>
    </p>

    <p>
      <strong>Desexed status:</strong>
      <%= @listing.desexed_status %>
    </p>

    <% if @listing.expected_size.length > 0 %>
      <p>
        <strong>Expected size:</strong>
        <%= @listing.expected_size %>
      </p>
    <% end %>
    <p>
      <strong>Vaccination status:</strong>
      <%= @listing.vaccination_status %>
    </p>
    <h4 class="title">Contact details:</h4>
    <div class="contact-listing">
      
      <p>
        <strong>Phone number:</strong>
        <%= @listing.phone_number %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @listing.email %>
      </p>
    </div>
  </div>
</div>
<%# turn into link to contact page %>
<% if current_user %>
  <button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to "Enquire", new_enquiry_path(:users_profile => @users_profile_id, :listing_id => @listing_id) %></button>
<% end %>


<% if current_organisation.id == @listing.organisations_profile.organisation.id %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
<div class="listing-details-wrapper">
  <div class="listing-about-sections listing-description">
    <h3>About <%= @listing.name %>...</h3>
    <%= @listing.description %>
  </div>
  <div class="listing-details">
    <div class="listing-about-sections">
      <h3>About their health</h3>
      <%= @listing.health_status %>
    </div>
    <div class="listing-about-sections">
      <h3>About their vaccinations</h3>
      <%= @listing.vaccination_details %>
    </div>
  </div>
</div>