<p id="notice"><%= notice %></p>

<%#= @listing.pictures if @listing.pictures.attached? %>
<div class="listing-top-wrapper">
  <%#= render "/shared/image_gallery"%>
  <div class="image-wrapper">
    <div class="row">
      <% if @listing.pictures.attached? %>
        <div class="column">
            <%= image_tag @listing.pictures.first, alt:"image1", onclick:"myFunction(this);", style:"width:50%"%>
            <%# <img src="bunny1.jpg" alt="Nature" style="width:50%" onclick="myFunction(this);"> %>
        </div>
        <div class="column">
            <%= image_tag @listing.pictures.second, alt:"image2", onclick:"myFunction(this);", style:"width:50%"%>
            <%# <img src="bunny2.jpg" alt="Snow" style="width:50%" onclick="myFunction(this);"> %>
        </div>
        <div class="column">
            <%= image_tag @listing.pictures.third, alt:"image3", onclick:"myFunction(this);", style:"width:50%"%>
            <%# <img src="cat1.jpg" alt="Mountains" style="width:50%" onclick="myFunction(this);"> %>
        </div>
        <div class="column">
            <%= image_tag @listing.pictures.fourth, alt:"image4", onclick:"myFunction(this);", style:"width:50%"%>
            <%# <img src="dogs2.jpg" alt="Lights" style="width:50%" onclick="myFunction(this);"> %>
        </div>
        </div>
        <% end %>
        <div class="container-listing">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <img id="expandedImg" style="width:100%">
    </div>
</div>








  <div class="top-column">
    
    <h1><%= @listing.name %></h1> 
    <h2 class="age"><%= @listing.age %></h2>
    
    <h3 class="breed">
      <%# <strong>Breed:</strong> %>
      <span class="listing-underline"><%= @listing.animal_type %></span> - <%= @listing.breed %>
    </h3>

    <p>
      <strong>Location:</strong>
      <%= @listing.location %>
    </p>

    <p>
      <strong>Price:</strong>
      $<%= @listing.price %>
    </p>



    <p>
      <strong>Sex:</strong>
      <%= @listing.sex %>
    </p>



    <p>
      <strong>Microchip number:</strong>
      <%= @listing.microchip_number %>
    </p>

    <p>
      <strong>Desexed status:</strong>
      <%= @listing.desexed_status %>
    </p>

    <% if @listing.expected_size.length > 0 %>
      <p>
        <strong>Expected size:</strong>
        <%= @listing.expected_size %>
      </p>
    <% end %>
    <p>
      <strong>Vaccination status:</strong>
      <%= @listing.vaccination_status %>
    </p>
    <h4 class="title">Contact details:</h4>
    <div class="contact-listing">
      
      <p>
        <strong>Phone number:</strong>
        <%= @listing.phone_number %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @listing.email %>
      </p>
    </div>
  </div>
</div>


<%# BUTTONS : %>
<div class="listing-btns">
  <% if current_user %>
    <%#= button_to "Enquire", new_enquiry_path(:organisations_profile_id => @listing.organisations_profile.id, :listing_id => @listing.id), class:"btn-profile" id:"enquire-link", :method => "get"%>
    <div class="btn-profile-link">
      <%= link_to "Enquire", new_enquiry_path(:organisations_profile_id => @listing.organisations_profile.id, :listing_id => @listing.id), class: "btn-profile", id: "enquire-link" %>
    </div>
  <% end %>

  <% if !current_user %>
    <% if current_organisation.id == @listing.organisations_profile.organisation.id %>
      <div class="btn-profile-link">
        <%= link_to 'Edit', edit_listing_path(@listing), class: "btn-profile"%></button>
      </div>
    <% end %>
  <% end %>
  <div class="btn-profile-link">
    <%= link_to 'Back', listings_path, class: "btn-profile" %>
  </div>
</div>




<div class="listing-details-wrapper">
  <div class="listing-about-sections listing-description">
    <h3>About <%= @listing.name %>...</h3>
    <div class="description-box">
      <%= @listing.description %>
    </div>
    
  </div>
  <div class="listing-details">
    <div class="listing-about-sections">
      <h3>About their health</h3>
      <div class="status-box"><%= @listing.health_status %></div>
    </div>
    <div class="listing-about-sections" id="t-m-about">
      <h3>About their vaccinations</h3>
      <div class="status-box"><%= @listing.vaccination_details %></div>
    </div>
  </div>
</div>


<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  
  expandImg.src = imgs.src;
  
  expandImg.parentElement.style.display = "block";
}
</script>