
<div class="about-page">
    <div class="home-title">
        <% if current_user %>
            <% if current_user.users_profile == nil or current_user.users_profile.first_name == nil%>
                <h1>Welcome to Pet Place!</h1>
            <% else %>
                <h1>Welcome back <%= current_user.users_profile.first_name%>!</h1>  
            <% end %>
        <% elsif current_organisation %>
            <% if current_organisation.organisations_profile == nil %>
                <h1> Welcome to pet place!</h1>
            <% elsif current_organisation.organisations_profile.organisation_name != nil %>
                <h1>Welcome back <%= current_organisation.organisations_profile.organisation_name %>!</h1>
            <% end %>
        <% end %>
    </div>
    

    <div class="about-buttons">
        <button type="button" class="btn btn-homepage btn-lg btn-"><%= link_to "View current listings", listings_path%></button>
        <% if current_organisation %>
            <button type="button" class="btn btn-homepage btn-lg"><%= link_to "Create a new listing", new_listing_path %></button>
        <% end %>
        <button type="button" class="btn btn-homepage btn-lg"><%= link_to "View Organisations", organisations_profiles_path%></button>
        <button type="button" class="btn btn-homepage btn-lg"><%= link_to "View resources", links_path %></button>
        <% if !current_organisation %>
            <button type="button" class="btn btn-homepage btn-lg"><%= link_to "Make a donation", donations_path %></button>
        <% end %>
        <button type="button" class="btn btn-homepage btn-lg">

        <% if current_user %>
            <% if current_user.users_profile == nil %>
                <%= link_to "Create Profile", new_users_profile_path %>
            <% elsif current_user.users_profile != nil %>
                <%= link_to "View your account", current_user.users_profile %>
            <% end %>
        <% elsif current_organisation %>
            <% if current_organisation.organisations_profile == nil %>
                <%= link_to "Create Profile", new_organisations_profile_path %>
            <% elsif current_organisation.organisations_profile != nil %>
                <%= link_to "View your account", current_organisation.organisations_profile %>
            <% end %>
            
        <% end %>
    </div>
    <%= render "shared/carousel"%>



    <div class="about-text">
    <h2>About us...</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Vero doloribus, rem voluptates dolorem debitis esse cumque tempore 
    aut reiciendis sit sint saepe vitae dolores eos magni! Eaque neque beatae at?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit animi non 
    veritatis, at fuga quaerat consectetur facilis enim delectus molestias iste 
    in quis magnam suscipit placeat labore debitis voluptas atque.Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Vero doloribus, rem voluptates dolorem debitis esse cumque tempore 
    aut reiciendis sit sint saepe vitae dolores eos magni! Eaque neque beatae at?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
    Vero doloribus, rem voluptates dolorem debitis esse cumque tempore 
    aut reiciendis sit sint saepe vitae dolores eos magni! Eaque neque beatae at?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit animi non 
    veritatis, at fuga quaerat consectetur facilis enim delectus molestias iste 
    in quis magnam suscipit placeat labore debitis voluptas atque.</p>
    </div>
</div>

