

<h1>Enquiries</h1>



<% @enquiries.each do |enquiry| %>

  <% if enquiry.organisations_profile_id == current_organisation.organisations_profile_id %>
    <%= enquiry.listing.name %> 
    <%= enquiry.listing_id%>
    <%= enquiry.id %>
    <%= enquiry.message %>
    <%= enquiry.name %>
    <%= enquiry.email %>
    <%= link_to 'Show', enquiry %>
    <%= link_to 'Edit', edit_enquiry_path(enquiry) %>
    <%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<%#= link_to 'New Enquiry', new_enquiry_path %>
