<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @enquiry.name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @enquiry.email %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @enquiry.listing_id %> - <%= @enquiry.listing.name%>
</p>

<p>
  <strong>Message:</strong>
  <%= @enquiry.message %>
</p>






<%#= link_to 'Edit', edit_enquiry_path(@enquiry) %> 
<%= link_to 'Back To listings', listings_path %>
