


<%= form_with(model: [location], local: true, data: {controller:"places", action: "google-maps-callback@window->places#initMap"}) do |f| %>

<div class="d-flex">
  <div>
    <div class="form-group">
    <%= f.label :address %>
    <%# <%= f.search_field :address, class: 'form-control', data: { target: "places.field" }%> %>
    </div>

    <div class="form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: 'form-control', data: { target: "places.latitude" }%>
    </div>

    <div class="form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: 'form-control', data: { target: "places.longitude" }%>
    </div>
  </div>

  <div class="p-4">
  <div data-target="places.map" style="height:400px; width:400px"></div>
  </div>
  

</div>
<% end %>


